<!DOCTYPE html>
<html lang="en-US">
<head>

<link rel="apple-touch-icon" sizes="180x180" href="https://s3.amazonaws.com/hcpss.web.site/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" href="https://s3.amazonaws.com/hcpss.web.site/favicons/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="https://s3.amazonaws.com/hcpss.web.site/favicons/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="https://s3.amazonaws.com/hcpss.web.site/favicons/manifest.json">
<link rel="mask-icon" href="https://s3.amazonaws.com/hcpss.web.site/favicons/safari-pinned-tab.svg" color="#2762a5">
<meta name="theme-color" content="#ffffff">

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">

<title>{{ .Title }} - HCPSS</title>


<link rel="stylesheet" type='text/css'
  href="https://s3.amazonaws.com/hcpss.web.site/images/normalize.css">

<!-- <link rel="stylesheet" type='text/css'
  href="http://www.hcpss.org/f/js/normalize.css"> -->
<link rel="stylesheet" type='text/css'
  href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- <link rel="stylesheet" type="text/css"
  href="https://s3.amazonaws.com/hcpss.web.site/fonts/fira.css" > -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:600,800|Source+Sans+Pro" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://www.hcpss.org/f/mrb/newdesign/main.min.css">
<!-- <link rel="stylesheet" type="text/css"
  href="http://www.hcpss.org/f/js/main.css" > -->


</head>

<body>

<!--googleoff: index-->

<a href="#main-content">skip to main content</a>

<header class="main-navigation">
  <nav>
  <p class="logo-wrapper"><a href="/"><img class="hcpss-logo" src="https://www.hcpss.org/f/mrb/blue-flame.png" alt=""> HCPSS</a></p>
  <button class="btn__main-toggle" aria-expanded="false" aria-controls="main-menu-list"><i class="fa fa-bars" aria-hidden="true"></i>&nbsp; Main Menu</button>
  <ul id="main-menu-list" class="primary-menu">
   <li><a href="/languages/"><i class="fa fa-globe" aria-hidden="true"></i> Languages <i class="fa fa-caret-down" aria-hidden="true"></i></a>
    <ul hidden>
     <li><a href="/es/" lang="es">Español</a></li>
     <li><a href="/zh/" lang="zh">中文</a></li>
     <li><a href="/ko/" lang="ko">한국어</a></li>
     <li><a href="/cnh/" lang="cnh">Chin</a></li>
    </ul>
   </li>
   <li><a href="/for-you/">For You <i class="fa fa-caret-down" aria-hidden="true"></i></a>
    <ul hidden>
     <li><a href="/for-you/parents/">Parents</a></li>
     <li><a href="/for-you/students/">Students</a></li>
     <li><a href="/for-you/staff/">Staff &amp; Retirees</a></li>
    </ul>
   </li>
   <li><a href="/about/">About</a></li>
   <li><a href="/schools/">Schools</a></li>
   <li><a href="/academics/">Academics</a></li>
   <li><a href="/supports/">Supports</a></li>
   <li><a href="https://news.hcpss.org/">News</a></li>
   <li><a href="/search/"><i class="fa fa-search" aria-hidden="true"></i> <span class="visually-hidden">Search</span></a></li>
 </ul>
  </nav>
</header>

<div class="container group">
